.card-prod-list {
}
.cart-prod-img {
  height: 100px;
  padding: 6px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-prod-img img {
  max-width: 100%;
  max-height: 100%;
}
.cart-prod-detail {
  display: flex;
}
.cart-prod-detail h3 {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-prod-detail p {
  margin-left: auto;
}

@media (max-width: 480px) {
  .cart-prod-detail h3 {
    max-width: 150px;
  }
  .cart-prod-img {
    height: 70px;
    width: 70px;
  }
  .cart-prod-detail h3 {
    font-size: 0.9rem;
  }
}
